[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/VLA"]
	path = vendor/VLA
	url = https://github.com/Vatnar/VLA.git
[submodule "vendor/tomlplusplus"]
	path = vendor/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "vendor/quill"]
	path = vendor/quill
	url = https://github.com/odygrd/quill.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
